<div class="container-fluid">
    <div class="row">
      <h1>content component</h1>
    </div>
  
    <div class="row">
      <div class="col-6">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          repellat.
        </p>
      </div>
      <div class="col-6">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
          vitae!
        </p>
      </div>
    </div>
  
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda,
        commodi.
      </p>
    </div>
  </div>
  